<div class="container">
  <div class="search-form mt-5">
    <form method="post">
      <div class="mb-3">
        <label for="search-input" class="form-label fw-bold">Từ khoá</label>
        <input
          type="text"
          class="form-control"
          name="q"
          id="search-input"
          placeholder="Nhập từ khoá"
        />
      </div>

      <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
  </div>
</div>